.card img {
  width: 150px;
}

.card p {
  opacity: .5;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin: 10px;
}

.cards {
  display: flex;
  margin: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

a {
  color: rgb(86, 86, 86);
  background-color: rgb(244, 240, 240);
  border: solid;
  border-radius: 20px;
  padding: 0 10px;
}

a:hover {
color: rgb(146, 143, 143);
background-color: white;
border: solid;
border-radius: 20px;
padding: 0 10px;
}
.footer a {
  font-size: 30px;
  color: #070707;
}

@media(max-width: 900px) {
  .card {
    margin-bottom: 15px;
  }
}

@media(max-width: 500px) {
  .cards {
    justify-content: space-around;
  }
}
